.about-hero{
    background-image: url("../../img/about-hero-drop-shadow.png"), url("../../img/about-hero.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    background-size: cover, cover;
    min-height: 300px;
}
.about-hero h3{
    color: white;
    vertical-align: middle;
}
.about-hero h3:first-child{
    color: #C7DFFF;
}
.about-main-section-1 h3{
    color: #27348B;
    font-size: 26px;
    font-weight: bold;
}
.about-main-section-1 p{
    line-height: 32px;
}
.about-main-section-2{
    background-color: #4A89DC;
}
.about-card-body{
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 20%, 2.7% 15%, 0 10%);
}
.about-card-body h5{
    text-align: center;
    padding: 14px;
    background: transparent;
}
.about-card-body ul{
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-card-body ul li{
    padding: 6px 10px;
}
